@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

:root {
  --mid-brown-color: #a2978b;
  --light-color: #feffff;
  --light-brown-color: #d0c8c1;
  --light-grey-color: #f1f0ef;
  --cream-color: #ecd9c4;
  --dark-grey: #474747;
  --light-grey-col: #a79787;
  --olive-green: #92a998;
}

body {
  position: relative;
}

/* Section 1 */

.section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  position: relative;
}

.header {
  width: 100vw;
  height: auto;
  display: flex;
  padding: 1rem 2.5rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo-wrapper {
  width: 50px;
}
.logo-wrapper img {
  width: 50%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--mid-brown-color);
  color: var(--light-grey-col);
  transition: opacity 250ms ease;
  position: absolute;
  right: 2rem;
  top: 3rem;
  margin: 0 auto;
  z-index: 10;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--light-color);
  z-index: 11;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
/* Close Button */

.close {
  position: absolute;
  color: var(--light-brown-color);
  top: 3.5rem;
  right: 3.5rem;
  font-size: 3.5rem;
  transform: translateY(-200rem);
  transition: all 0.5s;
  z-index: 10;
  cursor: pointer;
}

.nav-list,
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  padding-top: 20px;
  transform: translateX(200%);
  transition: all 0.7s;
  list-style: none;
}

.nav-wrapper {
  width: 100%;
  transform: translateX(-200%);
  z-index: 1;
}

.nav-list {
  z-index: 1;
}

.nav-list li {
  padding: 0 0 1.5rem 3rem;
}

.nav-list li a {
  font-size: 2.3rem;
  color: var(--dark-grey);
  transition: all 0.5s;
}

.nav-list li a:hover {
  color: var(--light-brown-color);
  text-decoration: underline !important;
  padding-left: 1rem;
}

.social-bar {
  position: fixed;
  top: 30%;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.fa-instagram,
.fa-facebook {
  display: none;
}

.icon {
  font-size: 4rem;
  color: var(--light-brown-color);
  padding: 0.125em 0;
  transition: transform 0.2s linear;
}

.icon:hover {
  color: var(--light-grey-col);
  transform: scale(1.2);
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-title {
  margin-top: 3rem;
  font-size: 11vmin;
  text-align: left;
  color: var(--dark-grey);
  padding-bottom: 2rem;
}

.sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.5vmin;
  text-align: left;
  color: var(--dark-grey);
  font-weight: 300;
}

/* End of Section 1 */

/* Quote Section */

.section-1a {
  width: 100%;

  padding: 8rem 0;
  margin: 0 auto;
  display: flex;
}

.quote {
  width: 40%;
  margin: 0 auto;
  padding-left: 2px;
  border-left: 2px solid var(--light-brown-color);
}

.quote-text {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  color: var(--dark-grey);
  border-left: 2px solid var(--light-brown-color);
}

/* End of Quote Section */

/* Section 2 - Services */

.section-2 {
  width: 100%;
  background-color: rgba(241, 240, 239, 0.5);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
}

.services-title {
  text-align: center;
  font-size: 8vmin;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: var(--dark-grey);
}

.services-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid var(--mid-brown-color);
  padding-bottom: 5rem;
  text-align: center;
}

.service {
  width: 100%;
  margin: 5rem auto;
  padding: 2em;
  background-color: var(--light-color);
}

.packages-title {
  font-size: 4rem;
  text-align: center;
  color: var(--dark-grey);
}

.service-text {
  font-size: 2.5rem;
  padding: 1em 0;
  color: var(--dark-grey);
  margin: 0 auto;
  max-width: 80%;
}

.service-text span {
  font-size: 1rem;
}

.wordpress-packages {
  display: flex;
  margin-top: 3rem;
}

.package {
  width: 100%;
  margin: 1rem;
  padding: 2rem 1rem 3rem 1rem;
  border: 2px solid var(--light-grey-col);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.package-3 {
  position: relative;
}

.popular {
  position: absolute;
  height: 30px;
  width: 90%;
  left: 50% (-50%);
  top: -15px;
  color: var(--olive-green);
  background-color: #474747;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 2px;
}

.wordpress-packages h3 {
  font-size: 3rem;
  color: var(--dark-grey);
}

.price {
  font-size: 3rem;
  color: var(--mid-brown-color);
  margin: 1rem 0;
  font-style: italic;
}

.price span {
  font-size: 0.6rem;
}

.package p {
  font-size: 2rem;
  text-align: justify;
  color: var(--dark-grey);
}

.enquire {
  font-size: 2.5rem;
  width: 200px;
  border: 2px solid var(--light-color);
  border-radius: 10rem;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--olive-green);
  color: var(--light-color);
}

.enquire:hover {
  border: 2px solid var(--olive-green);
  color: var(--dark-grey);
  background-color: var(--light-color);
}

/* Off the shelf container */

.ready-container {
  width: 100%;
  margin: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--dark-grey);
}

.ready-container h4 {
  margin-bottom: 3rem;
}

.ready-img {
  max-width: 350px;
}

.ready {
  cursor: pointer;
}

/*
.contact-btn {
  font-size: 2.5rem;
  padding: 0.1em 0.5em;
  background-color: var(--mid-brown-color);
  color: var(--cream-color);
  margin: 1em auto;
  border: 2px solid var(--off-white-col);
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
}

.contact-btn:hover {
  transform: scale(0.8);
}
*/

.section-2-cta {
  width: 50%;
  display: flex;
  margin-top: 3rem;
  padding: 0 1.5rem;
  color: var(--off-black);
  flex-direction: column;
  max-width: 800px;
}

.text {
  text-align: center;
}

/* End of Section 2 */

/* Section 3 About Me */

.section-3 {
  background-color: var(--light-color);
}

.about-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid var(--light-grey-col);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 80px 30px;
}

.img {
  width: 20vw;
  height: auto;
}

.about-text {
  width: 60%;
  color: var(--dark-grey);
}

/* End of Section 3 */

/* Section 4 Projects */

.section-4 {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.project-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid var(--mid-brown-color);
  padding: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  width: 45%;
  height: 25%;
  border: 2px solid var(--light-grey-col);
  border-radius: 0.3rem;
  margin: 3rem 0;
}

.project-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 0.5em;
  color: var(--mid-brown-color);
}

.status {
  font-size: 2rem;
  text-align: center;
  color: var(--light-grey-col);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--mid-brown-color);
}

.cta {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 1em 0;
  color: var(--dark-grey);
  transition: 0.2s ease-in;
}

.cta:hover {
  color: var(--mid-brown-color);
  font-size: 3.2rem;
}

/* End of Section 4 */

/* Testamonials */

.testamonials-container {
  padding: 80px 0;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid var(--light-grey-col);
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.test {
  width: 100%;
  max-width: 600px;
  margin: 20px 2em;
  padding: 20px;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(208, 200, 193, 1),
    -0.2rem -0.2rem 0.2rem rgba(208, 200, 193, 1);
}

.test-text {
  line-height: 1.5;
  font-size: 1.7rem;
  position: relative;
  padding: 0.5em 2em;
  color: var(--dark-grey);
}

.faq-container {
  padding-bottom: 4rem;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 2rem;
  color: var(--mid-brown-color);
}

.fa-quote-right {
  display: block;
  text-align: right;
  padding-right: 2em;
}

.customer {
  line-height: 1.5;
  font-size: 2rem;
  padding-top: 1em;
  text-align: center;
  color: var(--dark-grey);
}

.customer:hover {
  color: var(--mid-brown-color);
}

/* End of Section 5 */

/* Section 6 */

.section-6 {
  padding: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-container {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid var(--chestnut-color);
}

summary {
  outline: var(--mid-brown-color);
}

.faq-quest {
  font-size: 2.3rem;
  color: var(--dark-grey);
  line-height: 2;
}

.italic {
  font-style: italic;
}

.faq-text {
  width: 100%;
  line-height: 2;
  font-size: 1.8rem;
  padding: 1rem 4rem;
  color: var(--dark-grey);
}

/*End of Section 5 */

/* Store Section */

.store-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid var(--light-grey-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px 150px 0;
}

.product-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--light-grey-color);
  margin: 4rem 0;
}

.product-img {
  max-width: 350px;
  background-size: contain;
}

.product-text {
  max-width: 500px;
  font-size: 2.5rem;
  color: var(--dark-grey);
}

.product-text span {
  color: var(--mid-brown-color);
  font-size: 4rem;
}

.product-text a {
  font-size: 2.5rem;
  color: var(--mid-brown-color);
}

.product-text a:hover {
  color: var(--olive-green);
}

/* End of Store Section */

/* Footer */

.footer {
  background-color: var(--light-grey-col);
  color: var(--light-color);
}

.footer img {
  max-width: 250px;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-col {
  width: 22%;
}

.footer-title {
  font-size: 2rem;
  border-bottom: 1px solid var(--light-color);
  color: var(--light-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.footer-about {
  font-size: 1.6rem;
  line-height: 1.8;
}

.sitemap-list {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.8;
}

.footer-contact a {
  color: var(--light-color);
  font-size: 1.6rem;
}

.footer-contact a:hover {
  color: var(--dark-grey);
}

.fa-paper-plane {
  padding-left: 1rem;
}

.footer-skills {
  font-size: 3rem;
  padding-top: 16rem;
  padding-bottom: 3rem;
}

.sitemap-link {
  color: var(--light-color);
}

.sitemap-link:hover {
  color: var(--dark-grey);
}

.copy {
  text-align: center;
  font-size: 1.3rem;
  padding: 1em 0;
  border-top: 1px solid var(--light-color);
}

/* buttons */

.btn {
  padding: 1rem;
  border: 2px solid var(--mid-brown-color);
  background: var(--mid-brown-color);
  color: var(--light-color);
  border-radius: 10px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--light-color);
  color: var(--mid-brown-color);
}

/* End of buttons */

@media (min-width: 1000px) {
  .header {
    flex-direction: row;
  }

  .logo-wrapper {
    width: 250px;
  }
}

@media (max-width: 900px) {
  .container {
    height: 90%;
    width: 60%;
    justify-content: space-between;
    padding-top: 10vh;
  }

  .main-title {
    font-size: 15vw;
  }

  .wordpress-packages {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .package {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .services-container,
  .about-container,
  .project-container {
    display: block;
  }

  .service,
  .about-text {
    width: 100%;
  }

  .project {
    width: 80%;
    margin: 4em auto;
  }

  .quote {
    width: 70%;
  }

  .product-box {
    flex-direction: column;
  }

  .product-text {
    margin-top: 3rem;
  }

  .footer-container {
    width: 80%;
  }

  .footer-col {
    width: 80%;
    padding-bottom: 3rem;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
}
