@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Diphylleia&family=Poppins:wght@300;400;600&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-family: "Diphylleia", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

:root {
  --mid-brown-color: #a2978b;
  --light-color: #feffff;
  --light-brown-color: #d0c8c1;
  --light-grey-color: #f1f0ef;
  --cream-color: #ecd9c4;
  --dark-grey: #474747;
  --light-grey-col: #a79787;
  --olive-green: #92a998;
  --rose-pink: #d18e85;
  --mid-grey: #7b7272;

  /*  New colours 2024*/

  --header-color: #c9ada7;
  --dark-blue: #22223b;
  --mid-blue: #4a4e69;
  --violet: #9a8c98;
  --cream: #f2e9e4;
}

body {
  position: relative;
}

/* Section 1 */

.section-1 {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  position: relative;*/
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  padding: 1rem 2.5rem;
  position: fixed;
  top: 0;
  background-color: var(--header-color);
  z-index: 100;
}

.logo-wrapper {
  max-height: 100px;
  width: auto;
}

.logo {
  max-height: 80px;
}
.logo img {
  max-width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: var(--mid-grey);
  transition: opacity 250ms ease;
  position: absolute;
  right: 2rem;
  top: 3rem;
  margin: 0 auto;
  z-index: 10;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--mid-blue);
  z-index: 11;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
/* Close Button */

.close {
  position: absolute;
  color: var(--mid-blue);
  top: 3.5rem;
  right: 3.5rem;
  font-size: 3.5rem;
  transform: translateY(-200rem);
  transition: all 0.5s;
  z-index: 10;
  cursor: pointer;
}

.nav-list,
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  padding-top: 20px;
  transform: translateX(200%);
  transition: all 0.7s;
  list-style: none;
}

.nav-wrapper {
  width: 100%;
  transform: translateX(-200%);
  z-index: 1;
}

.nav-list {
  z-index: 1;
}

.nav-list li {
  padding: 0 0 1.5rem 3rem;
}

.nav-list li a {
  font-size: 2.3rem;
  color: var(--dark-grey);
  transition: all 0.5s;
}

.nav-list li a:hover {
  color: var(--light-brown-color);
  text-decoration: underline !important;
  padding-left: 1rem;
}

.social-bar {
  position: fixed;
  top: 30%;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.fa-instagram,
.fa-facebook {
  display: none;
}

.icon {
  font-size: 4rem;
  color: var(--mid-blue);
  padding: 0.125em 0;
  transition: transform 0.2s linear;
}

.icon:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.container {
  width: 90%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: "Diphylleia", serif;
  margin-top: 60px;
  font-size: 13vmin;
  color: var(--mid-blue);
  padding-bottom: 2rem;
  /* animation: slideleft 3s ease-in; */
}

.sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 4vmin;
  text-align: left;
  color: var(--dark-blue);
  font-weight: 300;
  animation: slideright 3s ease-in;
}

@keyframes slideright {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.hero img {
  max-width: 300px;
  margin: 20px;
}

/* End of Section 1 */

/* Quote Section */

.section-1a {
  width: 100%;
  background-color: var(--cream);
  padding: 8rem 0;
  margin: 150px 0 100px 0;
  display: flex;
}

.quote {
  width: 40%;
  margin: 0 auto;
  padding-left: 2px;
  border-left: 2px solid var(--violet);
}

.quote-text {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  color: var(--dark-blue);
  border-left: 2px solid var(--violet);
}

/* End of Quote Section */

.section-title {
  font-family: "Diphylleia", serif;
  font-size: 8vmin;
  padding: 30px 0 50px 0;
  text-align: center;
  color: var(--dark-blue);
}
/* Latest Section */

.latest-section {
  width: 100vw;
  height: 100%;
  margin: 50px 0;
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.latest-left-box,
.latest-right-box {
  width: 40%;
}

.latest-company {
  font-family: "Diphylleia", serif;
  font-size: 4vmin;
  color: var(--mid-blue);
  padding-bottom: 20px;
}
.latest-text {
  font-family: "Caveat", cursive;
  color: var(--mid-blue);
  font-size: 3.5vmin;
}

.latest-right-box a,
.award-container a {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-size: 3vmin;
  color: var(--header-color);
  cursor: pointer;
}
.latest-right-box a:hover,
.award-container a:hover {
  color: var(--mid-blue);
  text-decoration: underline;
}

.award-section {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.award-img-left,
.award-img-right {
  max-width: 15%;
  position: absolute;
  padding: 0;
}
.award-img-left {
  bottom: 2px;
  right: 2px;
}
.award-img-right {
  top: 2px;
  left: 2px;
}

.award-container {
  text-align: center;
  width: 65%;
  height: auto;
  max-width: 800px;
  padding: 1rem;
  background-color: var(--light-grey-color);
  border-left: 6px double var(--violet);
}

.award-container h4 {
  color: var(--dark-grey);
  font-size: 3rem;
}

.award-container span {
  color: var(--rose-pink);
  font-size: 3rem;
}

.award-website-link a {
  font-size: 3.5rem;
  color: var(--mid-grey);
}

.award-website-link a:hover {
  color: var(--rose-pink);
  text-decoration: none;;
}

/* End of Latest Section */

/* Section 2 - Services */

.section-2 {
  width: 100%;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-bottom: 50px 0;
}

.services-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid var(--violet);
  padding-bottom: 5rem;
  text-align: center;
}

.service {
  width: 100%;
  margin: 5rem auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-color);
}

.packages-title {
  font-family: "Diphylleia", serif;
  font-size: 4rem;
  text-align: center;
  color: var(--dark-blue);
}

.service-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding: 1em 0;
  color: var(--mid-blue);
  margin: 0 auto;
  max-width: 80%;
}

.service-text span {
  color: var(--dark-blue);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.wordpress-packages {
  display: flex;
  width: 90%;
  padding-top: 3rem;
  align-items: flex-start;
  justify-content: center;
}

.package {
  width: 100%;
  margin: 1rem;
  padding: 2rem 1rem 3rem 1rem;
  border: 2px solid var(--violet);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.package-3 {
  position: relative;
}

.popular {
  position: absolute;
  height: 30px;
  width: 90%;
  left: 50% (-50%);
  top: -15px;
  color: var(--header-color);
  background-color: var(--mid-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 2px;
}

.wordpress-packages h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: var(--dark-blue);
}

.price {
  font-size: 3rem;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--mid-blue);
  margin: 1rem 0;
  font-style: italic;
}

.price span {
  font-size: 1rem;
}

.package p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: justify;
  color: var(--mid-blue);
}

.enquire {
  font-size: 2.5rem;
  width: 200px;
  border: 2px solid var(--light-color);
  border-radius: 10rem;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--header-color);
  color: var(--light-color);
  margin: 20px auto;
}

.enquire:hover {
  border: 2px solid var(--violet);
  color: var(--dark-blue);
  background-color: var(--light-color);
}

/* Off the shelf container */

.ready-container {
  width: 100%;
  margin: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--dark-grey);
}

.ready-container h4 {
  margin-bottom: 3rem;
}

.ready-img {
  max-width: 350px;
}

.ready {
  cursor: pointer;
}

/*
.contact-btn {
  font-size: 2.5rem;
  padding: 0.1em 0.5em;
  background-color: var(--mid-brown-color);
  color: var(--cream-color);
  margin: 1em auto;
  border: 2px solid var(--off-white-col);
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
}

.contact-btn:hover {
  transform: scale(0.8);
}
*/

.section-2-cta {
  width: 50%;
  display: flex;
  margin-top: 3rem;
  padding: 0 1.5rem;
  color: var(--dark-blue);
  flex-direction: column;
  max-width: 800px;
}

.text {
  text-align: center;
}

/* End of Section 2 */

/* Section 3 About Me */

.section-3 {
  background-color: var(--light-color);
}

.about-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid var(--violet);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 80px 30px;
}

.img {
  width: 20vw;
  height: auto;
}

.about-text {
  font-family: "Poppins", sans-serif;
  width: 60%;
  color: var(--dark-blue);
}

/* End of Section 3 */

/* Section 4 Projects */

.section-4 {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.project-container {
  width: 90%;
  margin: 0 auto;
  border-top: 1.5px solid var(--violet);
  padding: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  width: 45%;
  height: 25%;
  border: 2px solid var(--violet);
  border-radius: 0.3rem;
  margin: 3rem 0;
}

.project-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 0.5em;
  color: var(--mid-blue);
}

.status {
  font-size: 2rem;
  text-align: center;
  color: var(--mid-blue);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--mid-brown-color);
}

.cta {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  padding: 1em 0;
  color: var(--dark-blue);
  transition: 0.2s ease-in;
}

.cta:hover {
  font-family: "Caveat", cursive;
  color: var(--header-color);
  font-size: 5.2rem;
}

/* End of Section 4 */

/* Testamonials */

.testamonials-container {
  padding: 80px 0;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-container {
  width: 90%;
  margin: 0 auto;
  border-top: 1.5px solid var(--violet);
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.test {
  width: 100%;
  max-width: 800px;
  margin: 20px 2em;
  padding: 20px;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(208, 200, 193, 1),
    -0.2rem -0.2rem 0.2rem rgba(208, 200, 193, 1);
}

.test-text {
  line-height: 1.5;
  font-size: 1.7rem;
  position: relative;
  padding: 0.5em 2em;
  color: var(--dark-blue);
}

.faq-container {
  padding-bottom: 4rem;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 2rem;
  color: var(--violet);
}

.fa-quote-right {
  display: block;
  text-align: right;
  padding-right: 2em;
}

.test-text {
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

.customer {
  line-height: 1.5;
  font-size: 3rem;
  padding-top: 1em;
  text-align: center;
  color: var(--mid-blue);
}

.customer:hover {
  color: var(--header-color);
}

/* End of Section 5 */

/* Section 6 */

.section-6 {
  padding: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid var(--chestnut-color);
  padding: 0 20px;
}

summary {
  outline: var(--mid-brown-color);
}

.faq-quest {
  font-size: 2.3rem;
  color: var(--dark-grey);
  line-height: 2;
}

.italic {
  font-style: italic;
}

.faq-text {
  width: 100%;
  line-height: 2;
  font-size: 2rem;
  padding: 1rem 4rem;
  color: var(--dark-grey);
}

/*End of Section 5 */

/* Store Section */

.store-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid var(--light-grey-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px 150px 0;
}

.product-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--cream);
  margin: 4rem 0;
}

.product-img {
  max-width: 350px;
  background-size: contain;
}

.product-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  max-width: 500px;
  font-size: 2.5rem;
  color: var(--dark-blue);
}

.product-text span {
  color: var(--mid-blue);
  font-size: 4rem;
}

.product-text a {
  font-size: 2.5rem;
  color: var(--mid-blue);
}

.product-text a:hover {
  color: var(--header-color);
}

/* End of Store Section */

/* Maintenance Page */

.maintenance-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  position: relative;
}
.maintenance-title {
  margin-top: 3rem;
  font-size: 10vmin;
  text-align: left;
  color: var(--dark-blue);
  padding-bottom: 2rem;
  padding-left: 10px;
}

#maintenance-subtitle {
  color: #f1f0ef;
  padding-bottom: 40px;
}

.maintenance-caption {
  font-size: 3.2rem;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: var(--mid-blue);
}

.maintenance-caption-text {
  width: 70%;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 40px;

  color: var(--dark-blue);
}

.maintenance-list {
  list-style: inside;
  text-align: left;
  font-size: 2rem;
}
.TandCs-header {
  font-size: 2.2rem;
}
.TandCs {
  font-size: 1.4rem;
}

.faq-container {
  width: 80%;
}
.faq {
  width: 100%;
  margin-bottom: 20px;
}
.faq h6 {
  font-size: 2rem;
}
.faq p {
  font-size: 1.6rem;
}

/* End of Maintenance Page */

/* Footer */

.footer {
  background-color: var(--mid-blue);
  color: white;
}

.footer img {
  max-width: 200px;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-col {
  width: 22%;
}

.footer-title {
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  color: white;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.footer-about {
  font-size: 1.2rem;
  line-height: 1.8;
}

.sitemap-list {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.8;
}

.footer-contact a {
  color: var(--cream);
  font-size: 1.2rem;
}

.footer-contact a:hover {
  color: white;
  font-size: 1.4rem;
}

.fa-paper-plane {
  padding-left: 1rem;
}

.footer-skills {
  font-size: 1.5rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.sitemap-link {
  color: var(--cream);
}

.sitemap-link:hover {
  color: white;
  font-size: 1.4rem;
}

.copy {
  text-align: center;
  font-size: 1.3rem;
  padding: 1em 0;
  border-top: 1px solid var(--light-color);
}

/* buttons */

.btn {
  padding: 1rem;
  border: 2px solid var(--mid-blue);
  background: var(--mid-blue);
  color: var(--light-color);
  border-radius: 10px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--light-color);
  color: var(--mid-blue);
}

/* End of buttons */

@media (min-width: 1000px) {
  .header {
    flex-direction: row;
  }

  .logo-wrapper {
    width: 250px;
  }
}

@media (max-width: 900px) {
  .container {
    height: 90%;
    width: 60%;
    justify-content: space-between;
    padding-top: 10vh;
  }

  .main-title {
    font-size: 15vw;
  }

  .wordpress-packages {
    width: 100%;
    flex-wrap: wrap;
  }

  .package {
    width: 40%;
    text-align: center;
    margin-bottom: 60px;
  }

  .services-container,
  .about-container,
  .project-container {
    display: block;
  }

  .service,
  .about-text {
    width: 100%;
  }

  .project {
    width: 80%;
    margin: 4em auto;
  }

  .quote {
    width: 70%;
  }

  .product-box {
    flex-direction: column;
  }

  .product-text {
    margin-top: 3rem;
  }

  .footer-container {
    width: 80%;
  }

  .footer-col {
    width: 80%;
    padding-bottom: 3rem;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
  .hero img {
    max-width: 300px;
  }
}

@media (max-width: 425px) {
  .section-1a {
    margin-bottom: 40px;
  }
  .latest-container {
    flex-direction: column;
    width: 90%;
    margin-bottom: 0;
  }
  .latest-right-box {
    width: 80%;
    padding: 20px 0;
  }

  .wordpress-packages {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .package {
    width: 80%;
  }
  .latest-company {
    font-size: 3rem;
  }
  .latest-left-box {
    width: 80%;
  }

  .latest-text {
    font-size: 2.5rem;
  }
  .test-text {
    padding: 15px 30px;
  }
}
